body{
    background-color:#7D6608;
}

#gameScreen{
    background-image: url("./img/pitch.png");
    background-repeat: no-repeat;
    background-size: 700px 600px;
    margin: 5px;
    border: 5px solid whitesmoke;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 900;
    height: 600;

}

img{
    display: none;
}